@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------CSS RESET ------------*/

/*------------------------- CSS STYLING----------------- */
html {
    display: block;
    box-sizing: border-box;
}

body {
    background-color: #F7F7FF;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    font-size: 16px;
}

main {
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    width: 20%;
    margin: 30px;
}


h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    line-height: 3.5rem;
    margin-bottom: 3px;
}

h2 {
    font-size: 30px;
    line-height: 3rem;
    margin-bottom: 3px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    padding: 5px;
}

.scooter {
    display: block;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 6px 6px 2px rgba(128, 128, 128, 0.671);
    width: 300px;
    height: 400px;
    margin-left: 1.5em;
}

.info {
    display: flex;
    flex-direction: column;
}

.contact input {
    background-color: #F4F4F5;
    border-radius: 5px;
    width: 280px;
    border: none;
    height: 35px;
    margin: 6px;
}

#checkbox input {
    width: 50px;
}

.button {
    background: #57EEAB;
    border: none;
    width: 280px;
    padding: 5px;
    font-weight: 600;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    margin: 4px;
}

.applied {
    margin: 5px;
    font-size: 14px;
}

.applied a {
    text-decoration: none;
    color: #FF8480;
}

footer {
    width: 100%;
    margin-top: 4em;
    position: absolute;
    background-color: #FFFD8C;
    text-align: center;
}

footer div {
    margin: 15px;
}

.earns input {
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 3px;
    padding: 2px;
}

#hours {
    width: 49px;
}

.city {
    width: 224px;
}

.calculate {
    background-color: #FF8480;
    color: white;
    font-weight: 600;
    border: none;
    width: 302px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    margin: 5px;
    padding: 2px;
}
/* clearfix to fix the over flow of the input when decreasing the screen size */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.facebook {
    border-radius: 20px;
}

/* TABLET SCREEN */
@media screen and (min-width: 600px) {
    body {
        width: 600px;
    }

    h1 {
        font-size: 60px;
        line-height: 5rem;
    }

    .scooter {
        width: 420px;
        margin: auto;
        padding-bottom: 1em;
    }
/* I used order for the form section, so I can put the "email" before the "phone"  */
    form {
        width: 400px;
        margin: 0 auto;
    }

    input#firstname {
        order: 0;
    }

    input#phone {
        order: 2;
    }

    .contact input {
        width: 380px;
    }

    .button {
        width: 380px;
    }

    .earns {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .calculate {
        width: 200px;
    }

    .images {
        width: 300px;
        margin: auto;
    }
}

/* DESKTOP SCREEN */
@media screen and (min-width: 1080px) {
    .logo {
        padding-left: 3em;
    }

    .scooter {
        width: 500px;
        margin: auto;
    }

    form {
        width: 380px;
    }
    /* I used grid and grid areas in this section to align the items, and because I wanted the form to overlap the image  */
    main {
        margin-top: 1em;
        padding-left: 3em;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-areas: 'head image form';
    }

    .head {
        grid-area: head;
    }

    .scooter {
        grid-area: image;
    }

    .form {
        grid-area: form;
    }

    header p {
        padding-top: 1em;
    }

    footer {
        margin-top: 3em;
        text-align: left;
        padding-left: 4em;
    }
    
/* Used flex order to align the icons in the way they supposed to be */
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .instagram {
        order: -2;
    }
    .twitter{
        order: -1;
    }

    .facebook {
        border-radius: 0;
    }
    

    .images {
        float: right;
    }
}